nav{
	height: 60px;
	width: 100%;
	display: flex;
}
.logo{
	height: 40px;
	display: flex;
	flex: 1;
	order:1;
	.logolink{
		display: flex;
		order:1;
		img{
			height: 40px;
		}
	}
	.toggle-sidebar{
		margin-top: 5px;
		display: flex;
		order:2;
	    top: 0px;
	    left: 5px;
	    color: #FFF;
	    background: #222;
	    font-size: 23px;
	    z-index: 3;    
	    font-weight: normal;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    cursor: pointer;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    border: 1px solid transparent;
	    padding: 0.375rem 1rem;
	    font-size: 1rem;
	    line-height: 1.5;
	    border-radius: 0.25rem;
	    transition: all 0.2s ease-in-out;
	}
}
.user{
	height: 40px;
	width: auto;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex: 1;
	order:2;
}