<!-- SECCIÓN DE VISOR DE USUARIO -->
<div class="user-root" *ngIf="action === 'view'">
  <div class="card card-outline-primary" >
    <div class="card-header card-uss">Listado de Usuarios</div>
      <datatable-cmp [config]="tconfig" [column]="columns" [data]="datas"></datatable-cmp>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-success" (click)="viewcreate()"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
      </div>
    </div>
  </div>
</div>
<!-- SECCIÓN DE CREACION DE USUARIO -->
<div class="user-root" *ngIf="action === 'create'">
  <form (submit)="createUser($event)">
  <div class="card card-outline-primary" >
    <div class="card-header card-uss">Crear Nuevo Usuario</div>
    <div class="card-body new-user-body">
        <div class="form-group">
          <label for="nombre-txt">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="newuser.NAME" name="nombre" id="nombre-txt" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido-txt">Apellido</label>
          <input type="text" class="form-control" [(ngModel)]="newuser.LASTNAME" name="apellido" id="apellido-txt" placeholder="Apellido" required>
        </div>
        <div class="form-group">
          <label for="email-txt">Email address</label>
          <input type="email" class="form-control" [(ngModel)]="newuser.EMAIL" name="email" id="email-txt" placeholder="Ingrese Email" required>
          <small id="emailHelp" class="form-text text-muted">Esta dirección de correo sera ligada al inicio de sesión unico.</small>
        </div>
        <div class="form-group">
          <label for="password-txt">Contraseña</label>
          <input type="password" class="form-control" [(ngModel)]="newuser.PASSWORD" name="password" id="password-txt" placeholder="Contraseña auxiliar" required>
          <small id="emailHelp" class="form-text text-muted">Esta contraseña funcionara de forma paralela al inicio de sesión unico.</small>
        </div>
        <div class="form-group">
          <label for="sede-select">Sede</label>
          <select class="form-control" id="sede-select" required [(ngModel)]="newuser.SEDE" name="sede">
            <option value="">Seleccione una sede</option>
            <option *ngFor="let value of sedes" [value]="value.ID_SEDE"> {{ value.NOMBRE_SEDE }}</option>
            <small id="emailHelp" class="form-text text-muted">(Obligatorio) Elija la sede a la que pertence el usuario.</small>
          </select>
        </div>
        <div class="form-group">
          <label for="area-select">Area de Desempeño</label>
          <select class="form-control" id="area-select" [(ngModel)]="newuser.AREA" name="area">
            <option value="">Seleccione un area</option>
            <option *ngFor="let value of areas" [value]="value.ID_AREA"> {{ value.NOMBRE_AREA }}</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">(Opcional) Elija el area al que desea asignar el usuario a un area.</small>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="btn-group" role="group" aria-label="...">
          <button type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Crear</button>
      </div>
      <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-warning" (click)="action='view'"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver</button>
      </div>
      <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-info" (click)="action='create'"><i class="fa fa-floppy-o" aria-hidden="true"></i> Borrador (NOACT)</button>
      </div>
    </div>
  </div>
  </form>
</div>

